In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
abiotic_df = pd.read_excel('../data/ABIO.xlsx', sheet_name='ABIO_SURF')
abiotic_df.head()

,LOC_CODE,LOC,DATUMTIJDWAARDE,DATUM,TIJD,Year,Month,Day,Q_clndr,Q_eco,PAROMS,PLT:REFVLAK,VAR,BGC,Value_original,Value_interm,VALUE,KWC,EHD
0,GROOTGND,EDG,24-2-2017 15:29:00,20170224,'1529,2017,2,24,1,1,Zwevende stof,WATSGL,ZS,NaN,1380.0,1380.0,1380.0,0,mg/l
1,GROOTGND,EDG,1-4-2015 14:10:00,20150401,'1410,2015,4,1,2,2,Zwevende stof,WATSGL,ZS,NaN,732.0,732.0,732.0,0,mg/l
2,GROOTGND,EDG,19-4-2016 15:38:00,20160419,'1538,2016,4,19,2,2,Zwevende stof,WATSGL,ZS,NaN,712.0,712.0,712.0,0,mg/l
3,HUIBGOT,EDH,21-10-2004 05:59:00,20041021,'0559,2004,10,21,4,4,Zwevende stof,WATSGL,ZS,NaN,710.0,NaN,NaN,56,mg/l
4,GROOTGND,EDG,13-10-1997 11:37:00,19971013,'1137,1997,10,13,4,4,Zwevende stof,WATSGL,ZS,NaN,677.0,677.0,677.0,50,mg/l

### Get unique variables

In [27]:
unique_vars = list(abiotic_df.PAROMS.unique().astype(str))
unique_vars

['Zwevende stof',
 'Doorzicht',
 'Temperatuur',
 'silicaat',
 'Saliniteit',
 'orthofosfaat',
 'Zuurgraad',
 'nitraat',
 'nitriet',
 'ammonium',
 'Extinctiecoefficient',
 'chlorofyl-a']

In [ ]:
for var in unique_vars: